@mixin white-gradient {
	background: linear-gradient(to right,  rgb(11,11,34) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 20s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 8))}
}


// Styling
.slider-partner {
	background: rgba(255, 255, 255, 0); /* Warna latar belakang dengan kejernihan yang lebih rendah */
	border-radius: 10px; /* Membuat sudut elemen lebih lunak */
	height: auto;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 160px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 15);
	}
	
	.slide {
		height: auto;
		width: 150px;
	}
}