@import '../../node_modules/aos/dist/aos.css';

:root {
  --global-background: #fff;
  --global-background-dark: #1f1f1f;
  --font-color-white: white;
  --font-color-dark: black;
  --font-color-super-primary: #A01C20;
  --font-color-primary: #ED1F24;
  --font-color-super-secondary: #FBAD18;
	--font-color-third: #ffffff99;
  --font-color-secondary: #F6E016;

  --font-size-xxl: 48px;
  --font-size-xl: 36px;
  --font-size-l: 28px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 10px;

	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-extrabold: 800;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
} 

.page-background,
.bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-background{
	background-image: url(/public/img/page-background.svg);
	background-size: cover;
  background-color: rgba(11, 11, 34);
}

.bg-color {
	background-color: rgba(11,11,34,.8);
	backdrop-filter: blur(50px);
}

/* Gallery */

/* .gallery-section{
  position: relative;
	height: 100%;
	width: 100%;
  margin-top: -50px;
}

.gallery{
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minimax(250px,1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.gallery-item {
  flex: 1;
  overflow: hidden;
  position: relative;
  transition: transform 0.8s ease-in-out;
  position: relative;
}

.gallery-section .gallery .gallery-item img{
	overflow: hidden;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9 );
	border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  backdrop-filter: blur(5px); 
  transition: opacity 0.8s ease-in-out;
}

.image-info h3{
  color: var(--font-color-primary) !important;
  font-size: 1.125rem !important;
}

.image-info .date-taken{
  color: var(--font-color-third) !important;
  font-size: var(--font-size-s) !important;
  font-size: 12px !important;
}

.image-info .description{
  font-size: 14px;
  width: 90%;
}

.gallery-item:hover .image-info {
  opacity: 1; 
}

.n1-stretch{
  grid-row: span 1; 
}

.n2-stretch{
  grid-row: span 1; 
}

.nv-stretch{
  grid-row: span 1;
}

.v-stretch{
  grid-row: span 2;
}

.h-stretch{
  grid-column: span 3;
}

.nh-stretch{
  grid-row: span 1;
}

@media(max-width: 1200px )
{
  .n1-stretch{
    grid-column: span 2;
  }

  .n2-stretch{
    grid-column: span 4; 
  }

  .v-stretch{
    grid-row: span 1; 
    grid-column: span 2;  
  }
  
  .nv-stretch{
      grid-column: span 2;
  }

  .h-stretch{
      grid-column: span 4;
  }

  .nh-stretch{
      grid-column: span 2;
  }
  
}  

@media(max-width: 770px )
{
  .n1-stretch{
      grid-column: span 4;    
  }
  .n2-stretch{
      grid-column: span 4;    
  }
  .nv-stretch{
      grid-column: span 4;    
  }
  .v-stretch{
      grid-column: span 4;    
  }
  
  .h-stretch{
      grid-column: span 4;
  }
  .nh-stretch{
      grid-column: span 4;
  }
  
}   */

/* About Us */

.about-us {
  margin-top: 10%;
}

.text-about {
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.text-about h5{
  color: var(--font-color-primary) !important;
  font-size: 1.125rem !important;
}

.text-about h3{
  font-size: var(--font-size-l) !important;
  font-weight: 700;
}

.text-about p{
  color: var(--font-color-third) !important;
  font-size: var(--font-size-s) !important;
  font-weight: 400;
  width: 60%;
}

.text-about,
.text-vission {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.text-about.show,
.text-vission.show {
  opacity: 1;
  transform: translateY(0);
}


/* Timeline History */

#timeline-area{
  margin: 20px 0;
  width: auto;
  border-left: 3px solid #ccc;
  padding: 0 2px 0 30px;
}

.timeline{
  padding: 10px 25px;
  line-height: 1.7;
  position: relative;
  height: auto; 
}

.timeline h5{
  color: var(--font-color-primary) !important;
  font-size: 1.125rem !important;
}

.timeline .sub-timeline{
  color: var(--font-color-third) !important;
  font-size: var(--font-size-s) !important;
  font-weight: 400;
}

.timeline:before{
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 20px;
  left: -38px;
}

@media (max-width: 990px) {
    .timeline {
    height: auto;
  }

  .timeline:before {
    top: 0;
    left: -38px;
  }
}

@media (max-width: 768px) {
    .timeline {
    height: auto;
  }

  .timeline:before {
    top: 0;
    left: -38px;
  }
}

@media (max-width: 576px) {
  .timeline {
    padding: 10px;
  }

  .timeline:before {
    top: 5px;
    left: -38px;
  }
}

/* FAQs */

.faq {
  position: relative;
  z-index: 2; 
  margin-top: 130px;
}

.faqs {
  max-width: 700px;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  transition: border-color 0.3s ease; 
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease; 
}

.question h3 {
  font-size: 1.8rem;
  margin: 0; 
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease; 
  animation: fade 0.3s ease-in-out;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  margin: 0; 
}

.faqs.active .answer {
  max-height: 300px;
  padding: 1rem 0; 
  animation: fade 0.5s ease-in-out; 
}

.faqs.active svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in 0.1s; 
}

svg {
  transition: transform 0.3s ease-in 0.1s; 
}

.faq-head h5{
  color: var(--font-color-primary) !important;
  font-size: 1.125rem !important;
}
.faq-head h3{
  font-size: var(--font-size-l) !important;
  font-weight: 700;
}
.faq-head p{
  color: var(--font-color-third) !important;
  font-size: var(--font-size-s) !important;
  font-weight: 400;
}

.question h5{
  font-size: var(--font-size-l) !important;
  font-size: 1.4rem !important;
  font-weight: bold !important;
}

.answer p{
  color: var(--font-color-third) !important;
  font-size: var(--font-size-s) !important;
  font-weight: 400;
}
.btn-custom{
  background-color: var(--font-color-primary) !important;
  color: white !important;
  transition: background-color 0.3s, color 0.3s !important; 
}

.btn-custom:hover {
    background-color: var(--font-color-super-primary)  !important;
    color: white !important;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}









