/* @import '../../node_modules//lightgallery/css/lightgallery.css'; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s linear;
}

.page-background{
	background-image: url(/public/img/page-background.svg);
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(11, 11, 34);
}

.bg-color {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(11,11,34,.8);
	backdrop-filter: blur(50px);
}

.about {
  background-image: url(/public/img/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.about::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
}

.about-us {
  position: relative !important;
}

.gallery-section {
  position: relative !important;
  height: 750px;
  width: 100%;
}

.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 100;
  margin-top: -5%;
}

.gallery a{
  box-sizing: border-box;
height: 25%;
width: 30%;
margin: 20px;
border-radius: 5px;
overflow: hidden;
box-shadow: 0 3px 5px #000;
}

.gallery a img{
height: 100%;
width: 100%;
object-fit: cover;
}

.gallery a img:hover{
transform: scale(1.4);
}

.text-about,
.text-vission {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.text-about.show,
.text-vission.show {
  opacity: 1;
  transform: translateY(0);
}



:root {
  --primary-color: white;
  --secondary-color: black;
  --third-color: rgb(112, 108, 108);
  --max-width: 1100px;
  --global-background: #fff;
  --global-background-dark: #1f1f1f;
  --font-color-white: white;
  --font-color-dark: black;
  --font-color-super-primary: #A01C20;
  --font-color-primary: #ED1F24;
  --font-color-super-secondary: #FBAD18;
  --font-color-tersier: #ffffff99;
  --font-color-secondary: #F6E016;
}


/* :root {
  --primary-color: white;
  --secondary-color: black;
  --third-color: rgb(112, 108, 108);
  --max-width: 1100px;
} */

#timeline-area{
  margin: 20px ;
  width: auto;
  border-left: 3px solid #ccc;
  padding: 0 2px 0 30px;
}

.timeline{
  padding: 10px 25px;
  line-height: 1.7;
  position: relative;
  height: 200px;
  margin-bottom: 20px;
}

.timeline:before{
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 20px;
  left: -40px;
}

/* Responsive adjustments */
@media (max-width: 990px) {
  .timeline {
    height: auto;
  }

  .timeline:before {
    top: 0;
    left: -20px;
  }
}

@media (max-width: 768px) {
  .timeline {
    height: auto;
  }

  .timeline:before {
    top: 0;
    left: -20px;
  }
}

@media (max-width: 576px) {
  .timeline {
    padding: 10px;
  }

  .timeline:before {
    top: 5px;
    left: -15px;
  }
}








