@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');
@import '../../node_modules/aos/dist/aos.css';

:root {
    --global-background: #fff;
    --global-background-dark: #1f1f1f;
    --font-color-white: white;
    --font-color-dark: black;
    --font-color-super-primary: #A01C20;
    --font-color-primary: #ED1F24;
    --font-color-super-secondary: #FBAD18;
    --font-color-third: #ffffff99;
    --font-color-secondary: #F6E016;

    --font-size-xxl: 48px;
    --font-size-xl: 36px;
    --font-size-l: 28px;
    --font-size-m: 20px;
    --font-size-s: 16px;
    --font-size-xs: 14px;
    --font-size-xxs: 12px;
    --font-size-xxxs: 10px;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none !important;
    font-family: 'Figtree', sans-serif;
    font-size: var(--font-size-s);
    color: var(--font-color-white);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.page-background {
    background-image: url(/public/img/page-background.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(11, 11, 34);
}

.bg-color {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(11, 11, 34, .8);
    backdrop-filter: blur(150px);
}


.section-title {
    padding-top: 3rem;
    height: 75vh;
    width: 100%;
}

.tulisan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gambar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gambar img {

    width: 400px;
    height: 100%;
}

.title-join h1 {
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}

.title-join h4 {
    font-size: var(--font-size-m);
    font-weight: 600;
    color: var(--font-color-primary);
    margin: 0;
}

.title-divisi span {
    color: var(--font-color-super-secondary);
}

.title-join p {
    font-weight: 400;
    font-size: var(--font-size-s);
}


.box-form {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #8e8d8d !important;
}

.box-form:focus {
    outline: none !important;
    box-shadow: none !important;
}

.box-form::placeholder {
    color: #ffffff3f !important;
}


.box-select {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #8e8d8d !important;
    color: #ffff !important;
}



.box-select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.color-select {
    color: black !important;
}

@media(max-width: 768px) {
    .gambar img {
        display: none !important;
    }
    .gambar img {

        width: 50px;
        height: 100%;
    }

}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
        /* Adjust this font size for smaller screens */
    }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
    h1 {
        font-size: 24px;
        /* Adjust this font size for even smaller screens */
    }
}
