@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../node_modules/aos/dist/aos.css';

:root {
    --global-background: #fff;
    --global-background-dark: #1f1f1f;
    --font-color-white: white;
    --font-color-dark: black;
    --font-color-super-primary: #A01C20;
    --font-color-primary: #ED1F24;
    --font-color-super-secondary: #FBAD18;
    --font-color-third: #ffffff99;
    --font-color-secondary: #F6E016;

    --font-size-xxl: 48px;
    --font-size-xl: 36px;
    --font-size-l: 28px;
    --font-size-m: 20px;
    --font-size-s: 16px;
    --font-size-xs: 14px;
    --font-size-xxs: 12px;
    --font-size-xxxs: 10px;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
}

* {
    position: relative;
    height: auto;
    margin-bottom: -50px;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
p{
    font-family: 'Figtree', sans-serif;
    font-size: var(--font-size-s);
    color: var(--font-color-third);
}
h2{
    font-family: 'Figtree', sans-serif;
    font-weight: var(--font-bold) !important;
    font-size: var(--font-size-xl) !important;
    color: var(--font-color-white) !important; 
}
h5{
    font-family: 'Kanit', sans-serif !important;
    color: var(--font-color-primary) !important;
}

.division-head h3 {
	font-size: var(--font-size-l);
	font-weight: 700;
}

.division-head h5 {
	color: var(--font-color-primary);
	font-weight: 600;
}

h4{
	font-family: 'Kanit', sans-serif;
	letter-spacing: 2px;
}
h5{
	font-family: 'Kanit', sans-serif;
	letter-spacing: 2px;
}

.page-background {
    background-image: url(/public/img/page-background.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(11, 11, 34);
}

.bg-color {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(11, 11, 34, .8);
    backdrop-filter: blur(150px);
}


.main-title {
    padding-top: 150px;
}

.ldo {
    padding-top: 100px;
}

.underline-1 {
    font-size: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.underline-1::after {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    bottom: -10px;
    left: 5px;
    height: 2px;
    background: linear-gradient(to right, transparent 5px, white, white, transparent calc(100% - 5px));
}

.carousel-item img {
    height: 400px;
}

.sub-judul {
    letter-spacing: 3px;
}

.title-proker {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}



.btn-selengkapnya {
    position: relative;
    width: 150px;
    height: 45px;
    font-size: 0.9rem;
    background: rgb(250, 179, 57);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(69, 69, 74, 0.8);
    border-left: 0.5px solid rgba(69, 69, 74, 0.8);
    padding-left: 40px;
    transition: 0.5s;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    overflow: hidden;

}

.btn-selengkapnya:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: rgb(255, 255, 255);
}

.btn-selengkapnya span {
    position: absolute;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #ed941f;
    border-radius: 20%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

.btn-selengkapnya:hover span {
    left: calc(100% - 35px);
}


.btn-selengkapnya::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
}

.btn-selengkapnya:hover::after {
    transform: translateX(170px) skewX(30deg);
}
.carousel-item img{
    object-fit: cover !important;
}

/* Responsive layout */
@media (max-width: 768px) {
    .carousel-item img {
        padding-top: 30px;
    }

    .container {
        padding-top: 25px;
    }
}

