*{
    position: relative;
    height: auto;
    margin-bottom: -50px;
}

.page-background{
	background-image: url(/public/img/page-background.svg);
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(11, 11, 34);
}

.bg-color {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(11,11,34,.8);
	backdrop-filter: blur(150px);
}
.proker{
	padding-top: 150px;
}

.ldo{
	padding-top: 100px;
}

.underline-1 {
    font-size: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.underline-1::after{
	content: "";
    position: absolute;
    width: calc(100% - 10px);
    bottom: -10px;
    left: 5px;
    height: 2px;
    background: linear-gradient(to right, transparent 5px, white, white, transparent calc(100% - 5px));
}

.carousel-item img{
	height: 400px;
}


.title-proker{
	font-weight: bold;
	font-size: 35px;
	color: #ED1F24;
}
p{
	font-size: 16px;
}


/* .btn-custom {
    background: transparent;
    border-color: #FBAD18;
    color: #FBAD18;
    transition: color 0.3s, border-color 0.3s;
  }

  .btn-custom:hover {
    color: black;
    border-color: black;
  } */

  .btn-selengkapnya{
    position: relative;
    width: 180px;
    height: 45px;
    font-size: 0.9rem;
    background: rgb(250, 179, 57);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(69, 69, 74, 0.8);
    border-left: 0.5px solid rgba(69, 69, 74, 0.8);
    padding-left: 40px;
    transition: 0.5s;
    
  }

  .btn-selengkapnya:hover{
    padding-left: 0px;
    padding-right: 40px;
    color: rgb(13, 65, 111);
  }

  .btn-selengkapnya span{
    position: absolute;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #ED1F24;
    border-radius: 25%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black ;

  }

  .btn-selengkapnya:hover span
  {
    left: calc(100% - 35px);
  }
  