
@import '../../node_modules/aos/dist/aos.css';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --global-background: #fff;
  --global-background-dark: #1f1f1f;
  --font-color-white: white;
  --font-color-dark: black;
  --font-color-super-primary: #A01C20;
  --font-color-primary: #ED1F24;
  --font-color-super-secondary: #FBAD18;
	--font-color-third: #ffffff99;
  --font-color-secondary: #F6E016;

  --font-size-xxl: 48px;
  --font-size-xl: 36px;
  --font-size-l: 28px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 10px;

	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-extrabold: 800;
}

h2{
    font-family: 'Figtree', sans-serif;
    font-size: var(--font-size-xl) !important;
    color: var(--font-color-white) !important; 
}

h3{
    font-family: 'Figtree', sans-serif !important;
    font-size: var(--font-size-l) !important;
    color: var(--font-color-white) !important;  
}
h4{
    font-family: 'Figtree', sans-serif;
    font-size: var(--font-size-m) !important;
    color: var(--font-color-white) !important;  
}

h5{
    font-family: 'Kanit', sans-serif !important;
    font-size: var(--font-size-s) !important;
    color: var(--font-color-primary) !important;
    letter-spacing: 2px;
}

.division-head h3 {
	font-size: var(--font-size-l);
	font-weight: 700;
}

.division-head h5 {
	color: var(--font-color-primary);
	font-weight: 600;
}


.jabatan{
    font-family: 'Figtree', sans-serif;
    font-weight: var(--font-regular);
    font-size: var(--font-size-s);
    color: var(--font-color-super-secondary);
    letter-spacing: 2px;
}


.page-background {
    background-image: url(/public/img/page-background.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(11, 11, 34);
}

.bg-color {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(11, 11, 34, .8);
    backdrop-filter: blur(150px);
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #eec267, #f25bc3);
    font-family: 'Montserrat', sans-serif;
}

.team-title {
    padding-top: 140px;
}

.single-box {
    flex-direction: column;
    width: 330px;
    color: #001346;
    background-color: #fff;
    align-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
    height: 430px;
    overflow: hidden; /* Tambahkan ini untuk membatasi overflow */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.header-area.img1 {
    position: relative; /* Atur posisi relatif pada elemen header-area img1 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img1::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/1.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1;
    transition: transform 0.6s ease-out; /* Atur opasitas sesuai kebutuhan */
}

.single-box:hover .header-area.img1::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease-out; 
}

.header-area.img2 {
    position: relative; /* Atur posisi relatif pada elemen header-area img2 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img2::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/2.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img2::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img3 {
    position: relative; /* Atur posisi relatif pada elemen header-area img3 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img3::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/3.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img3::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img4 {
    position: relative; /* Atur posisi relatif pada elemen header-area img4 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img4::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/4.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img4::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img5 {
    position: relative; /* Atur posisi relatif pada elemen header-area img5 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img5::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/5.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img5::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img6 {
    position: relative; /* Atur posisi relatif pada elemen header-area img6 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img6::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/6.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img6::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img7 {
    position: relative; /* Atur posisi relatif pada elemen header-area img7 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img7::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/7.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img7::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img8 {
    position: relative; /* Atur posisi relatif pada elemen header-area img8 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img8::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/8.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img8::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img9 {
    position: relative; /* Atur posisi relatif pada elemen header-area img9 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img9::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/9.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img9::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img10 {
    position: relative; /* Atur posisi relatif pada elemen header-area img10 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img10::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/10.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img10::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img11 {
    position: relative; /* Atur posisi relatif pada elemen header-area img11 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img11::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/11.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img11::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.header-area.img12 {
    position: relative; /* Atur posisi relatif pada elemen header-area img12 */
    background-image: url(../../public/img/team/background.png);
    border-radius: 10px 10px 50% 50%;
    padding: 150px 30px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}

.header-area.img12::before {
    content: ""; /* Tambahkan konten kosong */
    background-image: url(../../public/img/team/orang-polosan/12.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gunakan border-radius yang sama seperti pada elemen header-area img1 */
    opacity: 1; /* Atur opasitas sesuai kebutuhan */
    transition: transform 0.6s ease-out;
}

.single-box:hover .header-area.img12::before {
    transform: scale(1.2); /* Atur faktor perbesaran sesuai kebutuhan */
    transition: transform 0.6s ease; /* Efek transisi untuk animasi */
    transition: transform 0.6s ease-out;
}

.body-area {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.body-area h3 {
    font-size: 25px;
    margin: 20px 0 0;
}

.body-area h4 {
    color: #FBAD18;
    font-size: 18px;
    margin: 5px 0;
}

.body-area p i {
    padding-right: 20px;
}

.inti {
    display: flex;
    align-items: center;
    justify-content: center;

}

.non-divisi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divisi1 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.divisi2 {
    display: flex;
    align-items: center;
    justify-content: start;
}

.judul-tim{
	padding-top: 80px;

}

.socials i {
    font-size: 20px; /* Ukuran ikon */
    transition: 0.3s ease, transform 0.3s ease; /* Efek transisi warna dan transformasi */
}

.socials i:hover {
    transform: scale(1.2); /* Efek zoom in dan rotasi saat dihover */
}

@media (max-width: 468px) {
	.inti{
		padding-top: 30px;
	}
	.non-divisi{
		padding-top: 30px;
	}
	.divisi1{
		justify-content: center;
	}
	.divisi2{
		padding-top: 30px;
		justify-content: center;
	}
  }

  @media (max-width: 767px) {
	.inti{
		padding-top: 30px;
	}
	.non-divisi{
		padding-top: 30px;
	}
	.divisi1{
		justify-content: center;
		padding-bottom: 20px;
	}
	.divisi2{
		justify-content: center;
	}
  }

  @media (max-width: 768px) {
	.divisi {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
  }

  @media (max-width: 992px) {
    .inti{
		padding-top: 30px;
	}

    .non-divisi{
		padding-top: 30px;

	}
    
  }

  @media (max-width: 1399px) {
    .body-area {
        text-align: center;
        margin-top: 0px;
    }
  }
