@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';

.page-background{
	background-image: url(/public/img/page-background.svg);
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(11, 11, 34);
}

.bg-color {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(11,11,34,.8);
	backdrop-filter: blur(150px);
}

#team1 {
    position: relative;
    height: auto;
    margin-bottom: -50px;
}


a {
    color: #cc6060;
    text-decoration: none;
}

a:hover {
    color: #519ac5fc;
}

.hero-team {
    padding-top: 100px;
}

.slider {
    margin-bottom: 30px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #398AEE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #69aafa, #398AEE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #69aafa, #398AEE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    color: black;
}

.slider-card img {
    height: 65vh;
    border-radius: 5px 5px 0px 0px;
}


.slider-divisi {
    margin-bottom: 30px;
    position: relative;
    text-align: center; /* Untuk membuat teks di tengah secara horizontal */
}

.slider-card-divisi {
    width: 80%; /* Menambahkan padding untuk memberikan ruang di sekitar konten */
    padding-bottom: 20px; /* Menambahkan padding untuk memberikan ruang di sekitar konten */
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    color: black;
    background: #398AEE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #69aafa, #398AEE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #69aafa, #398AEE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    margin: 0 auto; /* Membuat div berada di tengah secara horizontal */
    display: flex;
    flex-direction: column; /* Membuat isi div berada di tengah secara vertikal */
    align-items: center; /* Membuat isi div berada di tengah secara horizontal */
}

.slider-card-divisi:hover {
    transform: translateY(-5px) scale(1);
    opacity: 1;
}

.slider-card-divisi img {
    height: 65vh;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding-bottom: 10px;
}



.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: -20px;
    /* opacity: 1; */
    font-size: 30px !important;
    z-index: 1;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: -20px;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-dots {
    margin-top: -20px;
    text-align: center;
}

.owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
}

.owl-dots .owl-dot.active {
    background: #398AEE !important;
}

@media screen and (min-width: 320px) and (max-width: 576px) {

    .owl-dots {
        margin-top: -10px;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .card-prestasi {
        margin-bottom: 16px;
    }
    
    .column-2 {
        margin-left: 5px;
    }

    .column-3 {
        margin-left: -10px;
    }

    .card-prestasi-content-1 {
        margin-top: 170px;
    }

    .card-prestasi-content-2 {
        margin-top: 75px;
    }

    .card-prestasi-content-3 {
        margin-top: 55px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .hero {
        padding-top: 100px;
    }

    .image-xs img {
        max-height: 84px;
    }

    .card-prestasi-content-1 {
        font-size: 12px;
        margin-top: 50px;
    }

    .card-prestasi-content-2 {
        font-size: 10px;
        margin-top: 10px;
    }

    .card-prestasi-content-3 {
        font-size: 10px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .image-xs {
        max-height: 120px;
    }

    .card-prestasi-content-1 {
        margin-top: 130px;
    }

    .card-prestasi-content-2 {
        margin-top: 65px;
    }

    .card-prestasi-content-3 {
        margin-top: 45px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .card-prestasi-content-1 {
        margin-top: 190px;
    }

    .card-prestasi-content-2 {
        margin-top: 90px;
    }

    .card-prestasi-content-3 {
        margin-top: 70px;
    }
}